<p>conteudo-principal works!</p>
<ul>
  <li>Exercício 1) Crie um componente chamado "header" que será o menu de navegação da sua aplicação. Obs: Utilize o ng generate</li>
  <li>Exercício 2) Crie um componente do conteúdo principal da sua aplicação, o nome você pode escolher e no app.component.html ajuste para carregar seu nav e seu conteúdo principal.</li>
  <li>Exercício 3) Crie um componente de rodapé e ajuste o seu app.component para carregar nav, conteúdo principal e rodapé.</li>
  <li>Exercício 4) Crie um componente que contenha 2 parágrafos e 1 título do site https://www.lipsum.com/ e carregue ele no seu app.component também.</li>
  <li>Exercício 5) Estilize o cabeçalho e rodapé do seu site.</li>
</ul>

<h2>Fontes e Referências</h2>
<a href="https://www.devmedia.com.br/angular-components-conhecendo-e-configurando-no-seu-projeto/40734">https://www.devmedia.com.br/angular-components-conhecendo-e-configurando-no-seu-projeto/40734</a>
